{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body class="container mx-auto">
    <header class="flex justify-between">
        <div>StudyLog</div>
        <div></div>
        <div>
            {% if request.user.is_authenticated %}
            Hi, {{request.user}}!
            {% else %}
            <a href="{% url 'login' %}">Login or sign up</a>
            {% endif %}
        </div>
    </header>
    {% block content %}{% endblock content %}
    
</body>
</html>