{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <style> a {max-height: min-content;} </style>
</head>
<body class="container mx-auto text-2xl bg-nord4">
    <header class="flex justify-between mt-5">
        <a href="/" class="h-min">
            <div class="font-bold mini-link">StudyLog</div>
        </a>
        
        <div></div>
        <div class="w-max flex flex-col text-right">
            {% if request.user.is_authenticated %}
            <div>
                Welcome,&nbsp<a href="{% url 'profile' %}" class="h-min hover:text-nord3 font-semibold">{{request.user}}</a>!
            </div>
            
            <a href="{% url 'logout' %}" class="text-nord10 hover:text-nord3 font-semibold">Logout</a>
            {% else %}
            <a href="{% url 'login' %}">Login or sign up</a>
            {% endif %}
            {% if request.user.is_staff %}
            <a href="/admin">admin</a>
            {% endif %}
        </div>
    </header>

    {% block content %}{% endblock content %}
    
</body>
</html>