<div id="clock" class="mainboard">
        

    <div id="display" class="mx-auto text-6xl font-semibold pb-5">
        00:00:00
    </div>
    <div class="controls flex mx-auto">
        <button id="start" class="btn-blue">start</button>
        <button id="reset" class="btn-blue">reset</button>
    <form action="{% url 'chrono' %}" method="POST">
        
            {% if request.user.is_authenticated %}
            {% csrf_token %}
            <input type="submit" value="save" class="btn-blue">
            <input type="text" value="00:00:00" id="letter" name="duration" class="bg-transparent hidden">
                
        </div>
        
        <div id="notes" class="hidden mx-auto mt-5">
            <textarea name="notes" id="" cols="40" rows="10" placeholder=" write your notes here!" class="rounded p-1 w-full"></textarea>
        </div>
        <div id="notesheadtext" class="cursor-pointer w-full text-nord3 mx-auto mt-5 border-t-2 border-t-nord4 text-center" onclick="toggleNotes()">write some notes!</div>
            {% endif %}
    </form>
</div>