{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="watch bg-slate-400 p-1 w-max mx-auto flex flex-col">
        

        <div class="time">
            00:00:00
        </div>
        <div class="controls flex">
            <button id="start" class="btn">Start</button>
            <button id="reset" class="btn">Reset</button>
        <form action="{% url 'chrono' %}" method="POST">
            
                {% if request.user.is_authenticated %}
                {% csrf_token %}
                <input type="submit" value="Save" class="btn cursor-pointer">
                <input type="text" value="00:00:00" id="letter" name="duration" class="bg-transparent hidden">
                    
            </div>
            <div>
                <textarea name="notes" id="" cols="30" rows="10" placeholder=" write your notes here!" class="rounded p-1"></textarea>
            </div>
                {% endif %}
        </form>
        
    </div>
    {% if request.user.is_authenticated %}
    <table>
        <tr>
            <th>id</th>
            <th>duration</th>
            <th>when</th>
        </tr>
    {% for session in sessions %}
        <tr>
            <td>{{session.id}}</td>
            <td>{{session.duration}}</td>
            <td>{{session.saved}}</td>
            <td>{{session.notes}}</td>
            <td> 
                <form action="{% url 'delsession' session.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="delete">
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
    {% endif %}
    <script src="{% static 'main.js' %}"></script>

{% endblock content %}