{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>me chrono!</title>

    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    

    <div class="watch bg-slate-400 p-1 w-80 mx-auto flex flex-col">
        

        <div class="time">
            00:00:00
        </div>

        <div class="controls flex">
            <button id="start" class="btn">Start</button>
            <button id="reset" class="btn">Reset</button>
            <form action="{% url 'chrono' %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Save" class="btn cursor-pointer">
                <input type="text" value="00:00:00" id="letter" name="duration" class="bg-transparent">
            </form>
        </div>
        
        
    </div>
    <table>
        <tr>
            <th>id</th>
            <th>duration</th>
        </tr>
    {% for session in sessions %}
        <tr>
            <td>{{session.id}}</td>
            <td>{{session.duration}}</td>
        </tr>
    {% endfor %}
    </table>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>