<div id="manually" class="mainboard hidden">
    <form action="{% url 'chrono' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="save" class="btn cursor-pointer">
        <input type="number" name="hours" max-length="2">
        
        <div id="notes" class="hidden mx-auto mt-5">
        <textarea name="notes" id="" cols="40" rows="10" placeholder=" write your notes here!" class="rounded p-1 w-full"></textarea>
        </div>
        <div id="notesheadtext" class="w-full text-nord3 mx-auto mt-5 border-t-2 border-t-nord4 text-center" onclick="toggleN()">write some notes!</div>
    </form>
</div>