{% extends 'base.html' %}
{% load static %}
{% block content %}
<article class="">
    <a class="btn-discrete mb-2" href="{% url 'chrono' %}">Go back</a>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <!--
        {{form.as_p}}
        -->
        <input class="input" id="username" name="username" autofocus required autocomplete="username" placeholder="username"><br>
        <input class="input" type="password" id="id_password" name="password" autocomplete="current-password" required="" placeholder="password"> <br>

        <input class="btn-blue" type="submit" value="Submit">

    </form>
    <p>not registered yet? <a href="{% url 'register' %}">sign up</a></p>
</article>
{% endblock content %}
